@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto-Regular.woff2) format('woff2');
    }
}


@layer components {

    html {
        @apply bg-gray-900 font-roboto;
    }

    .page-container {
        @apply pb-16 mt-16 md:mt-0 min-h-screen w-screen text-gray-200 bg-gray-900;
    }

    .page-title {
        @apply w-full text-4xl sm:text-5xl md:text-6xl lg:text-7xl
    }

    .page-content {
        @apply relative pt-6 mx-4 md:pl-16 md:mx-[10%] xl:mx-[13%] md:mt-12;
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center w-12 h-12 mx-2 mt-2 text-center bg-gray-700 text-blue-500 rounded-3xl hover:bg-blue-600 hover:text-gray-50 hover:rounded-xl transition-all duration-300 cursor-pointer;
    }

    .sidebar-icon-tooltip {
        @apply absolute w-auto p-2 m-2 left-0 md:left-14 top-14 md:top-0 shadow-md rounded-md bg-gray-800 text-gray-100 text-xs font-bold transition-all duration-300 scale-0 md:origin-left;
    }

    .tool {
        @apply relative flex flex-col w-24 mt-4 mr-4 md:mt-8 md:mr-8 shadow-3xl p-4 rounded-lg hover:bg-gray-600/50 transition-all duration-200 cursor-pointer;
    }

    .resume-block {
        @apply h-full pt-5 mt-8 shadow-3xl p-4 rounded-lg hover:bg-gray-600/50 transition-all duration-200;
    }

    .resume-block-title {
        @apply text-2xl mb-4 xl:text-4xl xl:mb-8 font-bold flex;
    }

    .job-title-wrapper {
        @apply flex flex-wrap mb-3 align-bottom;
    }

    .job-title {
        @apply text-2xl text-blue-500;
    }

    .job-sector {
        @apply ml-2 text-gray-400;
    }

    .diploma-title {
        @apply text-2xl text-blue-500;
    }

    .diploma-specialty {
        @apply text-2xl text-gray-400;
    }

    .skill-section-name {
        @apply mb-2 text-2xl text-blue-500;
    }

}